[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
jupyter = "*"
autopep8 = "*"

[packages]
pandas = "*"
google-api-python-client = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-cloud-translate = "*"
google-cloud-texttospeech = "*"
moviepy = "*"
grpcio = "*"
scipy = "*"
Babel = "*"
httplib2 = "*"
apiclient = "*"
